<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Boxify"
        tools:targetApi="31">
        <activity
            android:name=".RegisterationActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.activity.SecondDropdownActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.activity.FirstDropdownActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.activity.create_user.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.create_user.AnswerActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.activity.QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.activity.AddItemActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.activity.LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.activity.StartupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>